NEXT_PUBLIC_SUPABASE_URL=placeholder
NEXT_PUBLIC_SUPABASE_ANON_KEY=placeholder
NEXT_PUBLIC_GA_ID=G-GGC6NT2GNV
NEXT_PUBLIC_SITE_URL=https://hatchedlabs.ai
STRIPE_SECRET_KEY=placeholder
STRIPE_WEBHOOK_SECRET=placeholder
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=placeholder
